services:
  redis:
    image: redis:7.2-alpine
    restart: always
    container_name: "redis-cache"
    command: redis-server --requirepass "${REDIS_PASSWORD}" --rename-command FLUSHALL "" --bind 0.0.0.0
    expose: 
      - "6379" 
    networks:
      - backend_network

  postgres:
    image: postgres:16-alpine 
    restart: always
    container_name: "postgres-db"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
    security_opt:
      - no-new-privileges:true
    volumes:
      - db_data:/var/lib/postgresql/data
    expose:
      - "5432"
    networks:
      - backend_network 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 2s
      retries: 20
    logging:
      options:
        max-size: "10m"
        max-file: "3"


  webapp:
    build:
      context: .
      dockerfile: Dockerfile
    image: juliocaiordos/pallas:v0.1
    container_name: pallas-webapp
    env_file:
      - .env
    security_opt:
      - no-new-privileges:true
    ports:
      - "3000:3000"
    networks:
      - backend_network
      - frontend_network
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started


  webproxy:
    image: nginx:stable-alpine
    container_name: webproxy-lb
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80" 
      - "443:443" 
    networks:
      - frontend_network
    depends_on:
      - webapp

volumes:
  db_data:

networks:
  backend_network:
    driver: bridge
    internal: true
  frontend_network:
    driver: bridge