.filter {
 border-radius: .2em;
 padding: .2em;
  width: 2.6em;
  height: 2.6em;
  align-items: center;
  border: none;
}

.filter:hover {
  background: rgb(223, 223, 223);
}

#filter-options {
    background: whitesmoke;
    height: 0;
    overflow: hidden;
    padding: 0 .5em;
    position: relative;
    width: 30%;
    margin-bottom: 1em;
    border-radius: .1em;
    transition: height .5s ease-in-out
}

/* Quando ativado */
#filter-options.active {
    height: 9em;
}

#filter-options h4 {
    padding-top: .5em;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}

span {
  margin-right: 1em;
  font-size: 1em;
}