* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --background: linear-gradient(90deg, rgba(22, 42, 75, 1) 0%, rgba(0, 0, 0, 1) 50%);    
    --foreground: #f8fafc;
    --muted-foreground: #94a3b8;
    --border: rgba(59, 130, 246, 0.3);
    --primary: #3b82f6;
    --gradient-green: linear-gradient(90deg,rgba(0, 212, 146, 1) 0%, rgba(22, 78, 61, 1) 71%);
    --primary-foreground: #2563eb;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

/* icons */
.bi {
    cursor: pointer;
}

.container.my-4 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    min-height: 20vh;
    text-align: center;
}

h2 {
    text-align: center;
    color: var(--primary-foreground);
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Spinner */

.spinner-container {
  display: none; /* escondido por padrão */
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 10em;
  z-index: 999;
}

.spinner-border {
  width: 4rem;
  height: 4rem;
  border-width: 0.4rem;
}


.spinner-container.active {
  display: flex; /* aparece quando está "ativo" */
  flex-direction: column;
  font-weight: bold;
  font-size: 1.2em;
  color: var(--primary);
  justify-content: center;
  align-items: center;
}

/* para que a tabela só apareça depois do carregamento */
.table-container {
  display: none;
}